.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.text{
    width: 33%;
    height: 15%;
    font-size: 12px;
}

.text>h3{
    font-size: 20px;
    margin-bottom: 30px;
}

.formCadastro{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.formCadastro>label{
    font-size: 12px;
}

.formCadastro>input{
    height: 30px;
    margin-bottom: 20px;
}

.formCadastro>button{
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    color: #707070;
    background-color: #FFFFFF;
    border: #707070 1px solid;
}

.radioInput{
    margin-bottom: 23px;
    display: flex;
}

.radioInput>label{
    margin-right: 30px;
    margin-left: 5px;
}

