.usuario {
  display: grid;
  flex-direction: column;
}

.formCadastro {
  display: grid;
  flex-direction: column;
  width: 100%;
  margin-right: 5px;
  margin-left: 75px;
}
.login {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 70%;
  height: calc(100vh - 100px);
  display: grid;
  gap: 30px;
  background-color: #222;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  border: 3px solid;
  border-radius: 7px;
  justify-content: center;
  gap: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  align-items: center;
}

.button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid #3d4449;
  background-color: transparent;
  transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  color: bisque;
  width: 210px;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto Slab", serif;
  margin-left: 70px;
}
