.fieldset {
  height: 86px;
  border: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fieldset > label {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 25px;
}

.fieldset > input {
  background: #ccc;
  border-radius: 5px;
  font-size: 12px;
  line-height: 15px;
  padding-left: 5px;
  height: 44px;
  outline: none;
}
