.inner {
  padding: 0 6em 0.1em 6em;
  margin: 0 auto;
  max-width: 110em;
}

.section {
  border-top: solid 2px rgba(210, 215, 217, 0.75);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section:first-of-type {
  border-top: 0 !important;
}

@media screen and (max-width: 1680px) {
  .inner {
    padding: 0 5em 0.1em 5em;
  }
  .section {
    padding: 5em 0 3em 0;
  }
}

@media screen and (max-width: 1280px) {
  .inner {
    padding: 0 4em 0.1em 4em;
  }
  .section {
    padding: 4em 0 2em 0;
  }
}

@media screen and (max-width: 736px) {
  .inner {
    padding: 0 2em 0.1em 2em;
  }
  .section {
    padding: 3em 0 1em 0;
  }
}

.h1 {
  margin-top: -0.125em;
  color: #3d4449;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 1em 0;
  font-size: 4em;
  margin: 0 0 0.5em 0;
  line-height: 1.3;
  font-family: "Roboto Slab", serif;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  width: 50%;
}

.image {
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-block;
  margin: 0px 0px 2em 4em;
  width: 50%;
  border-radius: 0.375em;
  border: 0;
  position: relative;
  font: inherit;
  vertical-align: baseline;
}

.img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
  border-radius: 0.375em;
  display: block;
}

@media screen and (orientation: portrait) {
  .section {
    -moz-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .br {
    display: none;
  }
  .content {
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    width: 100%;
  }
  .image {
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    margin: 0 0 4em 0;
    height: 25em;
    max-height: 50vh;
    min-height: 18em;
    width: 100%;
  }
}

@media screen and (orientation: portrait) and (max-width: 480px) {
  .image {
    max-height: 35vh;
  }
}

.p {
  margin: 0 0 2em 0;
  font-family: "Roboto Slab", serif;
  color: black;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid #3d4449;
  background-color: transparent;
  transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  color: #3d4449;
  width: 210px;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto Slab", serif;
}

.btn:hover {
  background-color: rgb(170, 181, 202);
}
