.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px; 
    border-radius: 100%;
    display: flex;
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    border-radius: 100%;
    flex-direction: row;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
    display: flex;
  }
  .flip-card-front img {
    border-radius: 100%;
    height: inherit;
    width: inherit;
  }
  
  .flip-card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .flip-card-back {
    background-color: #07a0c3;
    color: white;
    transform: rotateY(180deg);
    font-size: 18px;
    line-height: 25px;
  }

  .flip-card-back p {
    justify-content: left;
  }

  @media (min-width: 760px) {
    .flip-card {
      height: 250px;
      width: 250px;
    }
  }