.destaques__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
  }

  .topo{
    background-color: burlywood;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .bloco1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .bloco2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: right;
  }

  
  .destaques__container h1{
    margin-bottom: 2.5rem;
    font-family: Indie;
    font-size: 35px;
    color: #413f42;
  }

  
  @media (min-width: 760px) {
    
    .destaques__container h1 {
      grid-column: 1 / span 3;
      text-align: center;
      font-size: 40px;
    }
  }